services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    command: ["mosquitto", "-c", "/mosquitto-no-auth.conf"]
    ports:
      - "1883:1883"
    restart: unless-stopped
